$primary: #252B48;
$secondary: #00DFA2;
$bg-color: #5B9A8B;
$blanco: #fff;
$gris: #ccc;
$negro: #000;
$sombra: 7px 7px 15px -3px rgba(0, 0, 0, 0.75);
$sombra-xl: 11px 10px 12px -4px rgba(0, 0, 0, 0.75);
$font-primary: 'Lilita One';
$font-secundary: 'AR One Sans';
$font-tertiary: sans-serif;